{% extends 'base.html' %}

{% block title %}Game Board{% endblock %}

{% block content %}
    <!-- <h1>Welcome to Boggle Game!</h1>

    <table class="" id="boggle_board"> 
        <tbody>
            {% for row in game_board %}
                <tr>
                    {% for letter in row %}
                        <td>{{letter}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="" id="boggleForm">
        <h2>Instructions:</h2>
        <p>
            The goal of the game is to get the highest point total. To gain points, players create words from a random assortment of letters in a 5x5 grid. Words can be created from adjacent letters – that is, letters which are horizontal or vertical neighbors of each other as well as diagonals. The letters must connect to each other in the proper sequence to spell the word correctly. This means that the next letter in the word can be above, below, left, or right of the previous letter in the word (excluding any letters previously used to construct the word).
        </p>
        <label for="guess_input">Enter a Word Guess: </label>
        <input type="text" name="guess" id="guess_input">
        <button type="submit" id="submit_word">Submit</button>
    </form> -->

{% endblock %}