
{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}

<h1 class="text-center">Pet Adoption Agency</h1>

<div class="container">
  {% for pet in pets %}
    <div class="row">
      <div class="col">
        {% if pet.photo_url %}
          <div class="col-sm-1 col-6 mt-3">
            <img src="{{ pet.photo_url }}" class="img-thumbnail">
          </div>
        {% endif %}
          <a href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a>       
          {% if pet.available %}
          <b>Is available!</b> 
          {% else %}
          <div class="col-10">Pet not Available.</div>
          {% endif %}
        </div>
    </div>
  {% endfor %}
  <a href="/add" class="btn btn-primary text-nowrap mt-3">Add a Pet</a>
</div>
{% endblock %}
