{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}

    <h1>Create a User</h1>

    <form action="/users/new" method="post">
        <input type="text" name="first_name" id="first_name">
        <label for="first_name"></label>
        <input type="text" name="last_name" id="last_name">
        <label for="last_name"></label>
        <input type="text" name="image_url" id="image_url">
        <label for="image_url"></label>
    
        <button type="submit">Add</button>
    </form>

{% endblock %}