{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}

    <h1 class="mx-5">Users</h1>

    <ul class="mx-5">
        {% for user in users %}
        <li><a href="/users/{{user.id}}">{{ user.full_name }}</a></li>
        {% endfor %}
    </ul>

    <form class="mx-5">
        <button class="btn btn-primary btn-sm"
                formaction="/"
                formmethod="GET">
                Home
        </button>
        <button class="btn btn-secondary btn-sm"
                formaction="/users/new"
                formmethod="GET">
                Add User
        </button>
      </form>

{% endblock %}
