{% extends 'base.html' %}

{% block title %}Pick a Survey{% endblock %}

{% block content %}

    <form action="/select_survey/post", method="post">
        <h1>Pick a Survey to Complete</h1>
        <fieldset>
            {% for survey in surveys %}
                <input type="radio" id= {{survey}} name="surveys" value= {{survey}} />
                <label for= {{survey}}>{{survey}}</label> 
                <br>
            {% endfor %}
            <button type="submit">Submit</button>
        </fieldset>

    </form>

{% endblock %}